### **INF3831 - Bases de Datos**
# Evaluación 1: SQL

## 1. Introducción
---
En esta tarea evaluaremos sus conocimientos de SQL.

En este notebook dejaremos el espacio para escribir sus consultas, y probar si funcionan correctamente.

Para entregar su solución, basta con escribir sus respuestas en el notebook, **guardar los cambios**, descargar el notebook, y subirlo por canvas.


## 2. Esquema

Para esta actividad vamos a trabajar con datos de una empresa que vende productos a través de varias tiendas. Trabajaremos con el siguiente esquema:

- Tiendas(tid PRIMARY KEY, calle, comuna, region)
- Productos(pid PRIMARY KEY, nombre, precio, tipo)
- Vende(tid,pid) PRIMARY KEY(tid,pid)
- Usuarios(uid PRIMARY KEY, nombre, calle, comuna, region)
- Compras(cid PRIMARY KEY, uid, tid)
- Contenido_Compra(cid,pid,cantidad) PRIMARY KEY (cid,pid)

En este esquema, la tabla 'Tiendas' tiene información sobre cada tienda de la empresa. La información que guardaremos sobre cada tienda es su id único, y la dirección de la tienda, compuesta por calle, comuna y región. El repositorio (único) de productos se guarda en la tabla 'Productos', donde cada producto se describe a través de su id, nombre, su precio y tipo. Para registrar que una tienda en particular vende un producto, se ocupa la tabla 'Vende', vinculando la tienda con el producto. Por otro lado, la tabla 'Usuarios' tiene un registro de los usuarios de la empresa, respaldando la información con su nombre y dirección.

Para registrar las compras que los usuarios realizan de una tienda específica, se tienen dos tablas. La primera, llamada 'Compras' establece una compra de un usuario en una tienda, y la tabla 'Contenido_Compra' guarda la información sobre los productos comprados en cada compra individual. También se guarda la información sobre la cantidad de unidades de cada producto comprado para poder modelar que un usuario compra varias unidades del mismo producto en una compra.

## 3. Datos

Aquí crearemos una instancia del esquema de arriba e insertaremos algunos datos a la instancia.

La idea es que cada tabla debería tener al menos una fila y cada consulta de abajo debería devolver al menos una respuesta con los datos especificados.

In [ ]:
# install
!apt update
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Hit:2 http://security.ubuntu.com/ubuntu focal-security InRelease
Hit:3 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Hit:5 http://archive.ubuntu.com/ubuntu focal InRelease
Hit:6 http://archive.ubuntu.com/ubuntu focal-updates InRelease
Hit:7 http://archive.ubuntu.com/ubuntu focal-backports InRelease
Hit:8 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Hit:9 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Hit:10 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Hit:11 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Reading package lists... Done
Building dependency tree
Reading state information... Done
24 packages can be upgraded. Run 'apt list --upgradable' to see them.
 * Starting PostgreSQL 12 database server
   ...done.
ERROR:  role "root" already exists
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%sql
DROP TABLE IF EXISTS Tiendas;
CREATE TABLE Tiendas(tid INT PRIMARY KEY, calle VARCHAR(200), comuna VARCHAR(100), region VARCHAR(200));
INSERT INTO Tiendas VALUES(1, 'Andres Bello 111', 'Providencia', 'RM');
INSERT INTO Tiendas VALUES(2, 'Avenida Argentina 125', 'Valparaíso','Valparaíso');
INSERT INTO Tiendas VALUES(3, 'Calle 10 Norte 145B', 'Viña del Mar', 'Valparaíso');

DROP TABLE IF EXISTS Productos;
CREATE TABLE Productos(pid INT PRIMARY KEY, nombre VARCHAR(200), precio FLOAT, tipo VARCHAR(100));
INSERT INTO Productos VALUES(100, 'Polera BTS', 40, 'Ropa');
INSERT INTO Productos VALUES(200, 'Polera RTS', 20, 'Ropa');
INSERT INTO Productos VALUES(300, 'Refrigerador', 1000, 'Electro');
INSERT INTO Productos VALUES(400, 'Mancuerna 10kgs', 80, 'Deporte');
INSERT INTO Productos VALUES(500, 'Banda elástica', 10, 'Deporte');
INSERT INTO Productos VALUES(600, 'Pelota Futbol', 200, 'Deporte');
INSERT INTO Productos VALUES(700, 'Cafetera', 100, 'Electro');
INSERT INTO Productos VALUES(800, 'Monitor', 200, 'Tecnología');
INSERT INTO Productos VALUES(900, 'Notebook', 1200, 'Tecnología');
INSERT INTO Productos VALUES(1000, 'Lomo kg', 10, 'Carne');

DROP TABLE IF EXISTS Vende;
CREATE TABLE Vende(tid INT, pid INT, PRIMARY KEY(tid, pid));
INSERT INTO Vende VALUES(1, 100);
INSERT INTO Vende VALUES(1, 200);
INSERT INTO Vende VALUES(1, 300);
INSERT INTO Vende VALUES(1, 400);
INSERT INTO Vende VALUES(1, 500);
INSERT INTO Vende VALUES(1, 600);
INSERT INTO Vende VALUES(1, 700);
INSERT INTO Vende VALUES(1, 800);
INSERT INTO Vende VALUES(1, 900);
INSERT INTO Vende VALUES(2, 100);
INSERT INTO Vende VALUES(2, 200);
INSERT INTO Vende VALUES(2, 300);
INSERT INTO Vende VALUES(2, 700);
INSERT INTO Vende VALUES(3, 100);
INSERT INTO Vende VALUES(3, 200);
INSERT INTO Vende VALUES(3, 300);
INSERT INTO Vende VALUES(3, 400);
INSERT INTO Vende VALUES(3, 500);
INSERT INTO Vende VALUES(3, 700);
INSERT INTO Vende VALUES(3, 800);
INSERT INTO Vende VALUES(3, 900);
INSERT INTO Vende VALUES(1, 1000);

DROP TABLE IF EXISTS Usuarios;
CREATE TABLE Usuarios(uid INT PRIMARY KEY, nombre VARCHAR(200), calle VARCHAR(200), comuna VARCHAR(100), region VARCHAR(200));
INSERT INTO Usuarios VALUES(1, 'Valentina', 'Calle 123', 'Conchalí', 'RM');
INSERT INTO Usuarios VALUES(2, 'Adrián', 'Dirección 145', 'Maipú', 'RM');
INSERT INTO Usuarios VALUES(5, 'Lomos', 'Dirección 90', 'Maipú', 'RM');
INSERT INTO Usuarios VALUES(3, 'Conito', 'Otra Calle 78', 'Viña del Mar', 'Valparaíso');
INSERT INTO Usuarios VALUES(4, 'Frambuesa', 'Más direcciones 90', 'Concón', 'Valparaíso');
INSERT INTO Usuarios VALUES(22, 'Domagoj', 'VicunaMackenn 4860', 'Macul', 'RM');


DROP TABLE IF EXISTS Compras;
CREATE TABLE Compras(cid INT PRIMARY KEY, uid INT, tid INT);
INSERT INTO Compras VALUES(1, 1, 1);
INSERT INTO Compras VALUES(101, 1, 1);
INSERT INTO Compras VALUES(3, 1, 1);
INSERT INTO Compras VALUES(4, 1, 2);
INSERT INTO Compras VALUES(5, 1, 2);
INSERT INTO Compras VALUES(6, 2, 1);
INSERT INTO Compras VALUES(7, 2, 2);
INSERT INTO Compras VALUES(8, 2, 3);
INSERT INTO Compras VALUES(9, 3, 3);
INSERT INTO Compras VALUES(10, 3, 3);
INSERT INTO Compras VALUES(11, 3, 1);
INSERT INTO Compras VALUES(12, 4, 1);

DROP TABLE IF EXISTS Contenido_Compra;
CREATE TABLE Contenido_Compra(cid INT, pid INT, cantidad INT, PRIMARY KEY(cid, pid));
INSERT INTO Contenido_Compra VALUES(1, 100, 2);
INSERT INTO Contenido_Compra VALUES(101, 800, 2);
INSERT INTO Contenido_Compra VALUES(101, 900, 1);
INSERT INTO Contenido_Compra VALUES(101, 100, 1);
INSERT INTO Contenido_Compra VALUES(101, 1000, 3);
INSERT INTO Contenido_Compra VALUES(3, 400, 2);
INSERT INTO Contenido_Compra VALUES(4, 200, 3);
INSERT INTO Contenido_Compra VALUES(5, 100, 1);
INSERT INTO Contenido_Compra VALUES(6, 100, 3);
INSERT INTO Contenido_Compra VALUES(6, 600, 1);
INSERT INTO Contenido_Compra VALUES(7, 300, 1);
INSERT INTO Contenido_Compra VALUES(7, 700, 1);
INSERT INTO Contenido_Compra VALUES(8, 200, 4);
INSERT INTO Contenido_Compra VALUES(8, 1000, 2);
INSERT INTO Contenido_Compra VALUES(9, 100, 2);
INSERT INTO Contenido_Compra VALUES(10, 100, 1);
INSERT INTO Contenido_Compra VALUES(11, 200, 1);
INSERT INTO Contenido_Compra VALUES(12, 500, 3);

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
SELECT *
FROM Tiendas;

 * postgresql+psycopg2://@/postgres

   tid                  calle        comuna      region
0    1       Andres Bello 111   Providencia          RM
1    2  Avenida Argentina 125    Valparaíso  Valparaíso
2    3    Calle 10 Norte 145B  Viña del Mar  Valparaíso

In [ ]:
%%sql
SELECT *
FROM Usuarios;

 * postgresql+psycopg2://@/postgres

   uid     nombre               calle        comuna      region
0    1  Valentina           Calle 123      Conchalí          RM
1    2     Adrián       Dirección 145         Maipú          RM
2    5      Lomos        Dirección 90         Maipú          RM
3    3     Conito       Otra Calle 78  Viña del Mar  Valparaíso
4    4  Frambuesa  Más direcciones 90        Concón  Valparaíso

In [ ]:
%%sql
SELECT *
FROM Contenido_Compra;

 * postgresql+psycopg2://@/postgres

    cid   pid  cantidad
0     1   100         2
1   101   800         2
2   101   900         1
3   101   100         1
4   101  1000         3
5     3   400         2
6     4   200         3
7     5   100         1
8     6   100         3
9     6   600         1
10    7   300         1
11    7   700         1
12    8   200         4
13    8  1000         2
14    9   100         2
15   10   100         1
16   11   200         1
17   12   500         3

## 4. Consultas [6 puntos]

Escriban las siguentes consultas SQL que funcionan sobre el esquema de arriba. Cada consulta vale 0.5 puntos.

**1**. Liste el precio del producto más carro.

2. Liste el número de usuarios viviendo en la Región Metropolitana.

3. Liste nombre y precio de todos los productos vendidos por una tienda ubicada en la región 'Vaparaíso' (cuidado con acentos). Los productos deben ser ordenado por precio, desde más carro hasta el más barato. La lista de respuestas no debería contener productos repetidos.

4. Para cada tienda, liste el número de productos vendidos por esta tienda.

5. Retornar nombre del usuario, junto con el *precio* del producto más barato que compró. Si el usuario no realizó ninguna compra, retornar 0:

6. Retornar nombres de los usuarios que realizaron la compra con el mayor valor:

7. Para cada región, listar el id de la tienda más preferida por los usuarios que **no** viven en esta región. Quiere decir, para cada tienda hay que computar el número de usuarios distintos que viven en una región distinta a la región dónde se ubica la tienda, y quienes realizaron una compra en dicha tienda. Se considera el número de usuarios **distintos**; quiere decir, si un usuario realizó dos compras, esto suma 1 al conteo de usuarios. Después para cada región detectar la tienda con mayor número de usuarios computados de esta manera.

8. Listar nombre de los usuarios que compraron uno de los cinco productos más caros. Para sacar los cinco más caros, usar LIMIT:

9. Listar Id de cada tienda, junto con el promedio de los precios de todos los productos que vende esta tienda

10. Listar nombres de todos los usuarios que realizaron una compra dónde compraron tres o más productos distintos (si el mismo producto fue comprado 3 veces o mas, esto cuenta cómo un producto).

11. Para cada compra con **tres o más productos**, listar su id, el nombre del usuario, y el número de productos comprados en esta compra. Si un producto fue comprado dos o más veces, hay que contar esto (quiere decir: aquí sí cuentan los productos repetidos):

12. Liste los nombres de los productos más baratos (puede haber más qué uno).